// Bootstrap brand color customization

//Brand Colors
$brand-primary: #006554;
$brand-secondary: #ED8B26;
$brand-black: #333333;
$brand-gray: #666666;
$brand-white: #FFFFFF;
$brand-light-gray: #F1F1F1;
$brand-medium-gray: #E6E6E6;
$brand-dark-gray: #A7A7A7;
$brand-light-green: #027256;
$brand-dark-green: #00483A;
$brand-gold: #FFC425;
$brand-dark-orange: #D76B00;
$brand-burnt-orange: #AF5700;
$brand-clearance-red: #8D0D02;
$brand-error-red: #DA1600;
$brand-neon-green: #8AFF00;
$brand-till-green: #90C1B9;

$brand-info: $cyan-500 !default;
$brand-success: $green-500 !default;
$brand-warning: $orange-500 !default;
$brand-danger: $red-500 !default;
$brand-rose: $pink-500 !default;
$brand-inverse: $black-color !default;
/*

Original brand Colors              

$brand-primary:              $purple-500 !default;
$brand-info:                 $cyan-500 !default;
$brand-success:              $green-500 !default;
$brand-warning:              $orange-500 !default;
$brand-danger:               $red-500 !default;
$brand-rose:                 $pink-500 !default;
$brand-inverse:              $black-color !default;

*/