<div class="Monochromatic">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <img class="image-resize" src="/assets/images/dsglogo.png" />
      <span class="pad-items dicks-font">Merch Workbench</span>
      <nav mat-tab-nav-bar class="pad-items" [backgroundColor]="backgroundColor">
        <a mat-tab-link class="tabs" *ngFor="let route of routes" [active]="activeRoute == route.path" [routerLink]="route.path">
          {{ route?.data?.name }}
        </a>
      </nav>
      <span class="fill-space"></span>
      <span class="profile">FirstName, LastName</span>
      <mat-icon class="pad-items icon">account_circle</mat-icon>
    </mat-toolbar-row>
  </mat-toolbar>
</div>
