<nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top" style="background: #191f1c !important;">
  <div class="container-fluid">
    <div class="navbar-wrapper">
      <img class="image-resize" src="/assets/images/dsglogo.png" />
      <a class="navbar-brand dicks-font" href="#">Merch Workbench - {{ getTitle() }}</a>
    </div>
    <nav mat-tab-nav-bar [backgroundColor]="backgroundColor">
      <a mat-tab-link *ngFor="let route of routes" (click)="activeLink = route" [active]="activeLink == route" [routerLink]="route.path">
        {{ route.data.name }}
      </a>
    </nav>
  </div>
</nav>
