<div class="app-store-div">
  <h1>
    <span id="app-store-orange">Merch</span>
    <span id="app-store-green">App</span>
    <span id="app-store-black">Store</span>
  </h1>
</div>
<div class="body-div">
  <div class="grid">
    <div class="cell">
      <a class="nav-link" href="https://pomanager.dcsg.com/spot">
        <mat-icon class="spot-mat-icon">donut_large</mat-icon>
        <h4 class="menu-text">SPOT</h4>
      </a>
    </div>
    <div class="cell">
      <a class="nav-link" [routerLink]="['productassortment']">
        <mat-icon class="spot-mat-icon">donut_large</mat-icon>
        <h4 class="menu-text">PRODUCT ASSORTMENT</h4>
      </a>
    </div>
    <div class="cell">
      <a class="nav-link" [routerLink]="['viewqueue']">
        <mat-icon class="apip-mat-icon">score</mat-icon>
        <h4 class="menu-text">LOCATION CLUSTERING</h4>
      </a>
    </div>
    <div class="cell">
      <a class="nav-link" [routerLink]="['viewqueue']">
        <mat-icon class="pom-mat-icon">monetization_on</mat-icon>
        <h4 class="menu-text">PO MANAGER</h4>
      </a>
    </div>
    <div class="cell">
      <a class="nav-link" [routerLink]="['viewqueue']">
        <mat-icon class="cam-mat-icon">donut_small</mat-icon>
        <h4 class="menu-text">AP MANAGEMENT</h4>
      </a>
    </div>
    <div class="cell">
      <a class="nav-link" [routerLink]="['viewqueue']">
        <mat-icon class="cam-mat-icon">donut_small</mat-icon>
        <h4 class="menu-text">CLUSTER ATTRIBUTE MANAGEMENT</h4>
      </a>
    </div>
    <div class="cell"></div>
    <div class="cell">
      <a class="nav-link" [routerLink]="['viewqueue']">
        <mat-icon class="apip-mat-icon">score</mat-icon>
        <h4 class="menu-text=">APIP REPORTING</h4>
      </a>
    </div>
    <div class="cell"></div>
  </div>
</div>
