@import '~@angular/material/theming';

// Be sure that you only ever include 'mat-core' mixin once!
// it should not be included for each theme.
@include mat-core();
// Main color = 500
// define a real custom palette (using http://mcg.mbitson.com)
$DSG-green: (
  50: #e0edea,
  100: #b3d1cc,
  200: #80b2aa,
  300: #4d9387,
  400: #267c6e,
  500: #006554,
  600: #005d4d,
  700: #005343,
  800: #00493a,
  900: #003729,
  A100: #6effd0,
  A200: #3bffbf,
  A400: #08ffaf,
  A700: #00eea1,
  contrast: (
    50: $black-87-opacity,
    100: $black-87-opacity,
    200: $black-87-opacity,
    300: $black-87-opacity,
    400: $black-87-opacity,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: $black-87-opacity,
    A200: $black-87-opacity,
    A400: $black-87-opacity,
    A700: white,
  ),
);

$DSG-orange: (
  50: #fdf1e5,
  100: #fadcbe,
  200: #f6c593,
  300: #f2ae67,
  400: #f09c47,
  500: #ed8b26,
  600: #eb8322,
  700: #e8781c,
  800: #e56e17,
  900: #e05b0d,
  A100: #ffffff,
  A200: #ffe5d9,
  A400: #ffc3a6,
  A700: #ffb28c,
  contrast: (
    50: $black-87-opacity,
    100: $black-87-opacity,
    200: $black-87-opacity,
    300: $black-87-opacity,
    400: $black-87-opacity,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: $black-87-opacity,
    A200: $black-87-opacity,
    A400: $black-87-opacity,
    A700: white,
  ),
);

$DSG-dark: (
  50: #e3e4e4,
  100: #babcbb,
  200: #8c8f8e,
  300: #5e6260,
  400: #3c413e,
  500: #191f1c,
  600: #161b19,
  700: #121714,
  800: #0e1211,
  900: #080a09,
  A100: #51ffff,
  A200: #1effff,
  A400: #00eaea,
  A700: #00d0d0,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

// mandatory stuff for theming
$DSG-primary: mat-palette($DSG-green);
$DSG-secondary: mat-palette($DSG-orange);
$DSG-background-dark: mat-palette($DSG-dark);

// include the custom theme components into a theme object
$DSG-theme: mat-light-theme($DSG-primary, $DSG-secondary, $DSG-background-dark);

// include the custom theme object into the angular material theme
@include angular-material-theme($DSG-theme);
