.form-field-dropdown-loading {
  position: relative;

  app-input-spinner {
    position: absolute;
    right: 1rem;
    bottom: 0.5rem;
  }
}

.form-field-loading {
  position: relative;

  app-input-spinner {
    position: absolute;
    right: 0.5rem;
    bottom: 0.5rem;
  }
}
