<div>
  <mat-form-field class="form-field-loading example-full-width">
    <input
      matInput
      placeholder="{{ placeholder }}"
      color="accent"
      title="{{ title }}"
      [formControl]="formControl"
      [matAutocomplete]="auto"
      (click)="$event.target.select()"
    />
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="getDisplayWith.bind(this)" (optionSelected)="onOptionSelected($event)">
      <mat-option *ngFor="let value of filteredArray | async" [value]="value">{{ displayWithValue ? value[displayWithValue] : value }} </mat-option>
    </mat-autocomplete>

    <app-input-spinner *ngIf="loading"></app-input-spinner>
  </mat-form-field>
</div>
