<ag-grid-angular
  #agGrid
  style="width: 100%; height: 700px;"
  class="ag-theme-balham"
  [rowData]="rowData | async"
  [defaultColDef]="defaultColDef"
  [autoGroupColumnDef]="autoGroupColumnDef"
  [columnDefs]="columnDefs"
  [enableRangeSelection]="true"
  [animateRows]="true"
  [sideBar]="true"
  [aggFuncs]="aggFuncs"
  [suppressAggFuncInHeader]="true"
  [rowGroupPanelShow]="rowGroupPanelShow"
  [enableGroupEdit]="true"
  [groupDefaultExpanded]="groupDefaultExpanded"
  rowSelection="multiple"
  (gridReady)="onGridReady($event)"
></ag-grid-angular>
